src/main/mule/s3-object-browser-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s3="http://www.mulesoft.org/schema/mule/s3"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd">

	<sub-flow name="retrieve-form-data" doc:id="01489461-f267-4685-9b59-f114cac36352" >
		<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;payload.parts."aws-access-key".content default ""]' doc:name="aws-access-key" doc:id="4aceb7de-a45b-4e96-93bc-8cb53045c475" variableName="aws-access-key" />
		<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;payload.parts."aws-secret-key".content default ""]' doc:name="aws-secret-key" doc:id="e2d159fe-df4a-4eaa-a2dd-098b0031c577" variableName="aws-secret-key" />
		<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;payload.parts."s3-bucket-name".content default ""]' doc:name="s3-bucket-name" doc:id="de29ef86-5d27-4142-b4a8-36d9e8391451" variableName="s3-bucket-name" />
		<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;payload.parts."s3-bucket-region".content default ""]' doc:name="s3-bucket-region" doc:id="05d19756-d34b-48ff-8dd8-28a91f51a0ac" variableName="s3-bucket-region" />
		<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;payload.parts."object-prefix".content default ""]' doc:name="object-prefix" doc:id="c169f123-bbf5-4193-a269-98ddcb1a6b6d" variableName="object-prefix" />
		<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;payload.parts."object-key".content default ""]' doc:name="object-key" doc:id="92e6631c-7d7a-4b7a-b095-4fbfc166de79" variableName="object-key"/>
		<set-variable value='#[%dw 2.0&#10;output application/java&#10;var localTimeZone = p(p("api.localTimeZone")) as TimeZone&#10;---&#10;payload.parts."from-date".content as String &gt;&gt; localTimeZone default null]' doc:name="from-date" doc:id="885b5986-94bc-46c6-9929-78fce427b230" variableName="from-date" />
		<set-variable value='#[%dw 2.0&#10;output application/java&#10;var localTimeZone = p(p("api.localTimeZone")) as TimeZone&#10;---&#10;payload.parts."to-date".content as String &gt;&gt; localTimeZone default null]' doc:name="to-date" doc:id="b87f5fd0-4f56-4963-a20c-b051e7693359" variableName="to-date" />
	</sub-flow>
	<flow name="list-objects" doc:id="3c998533-b658-4f1c-882f-5380c1290b3d">
		<flow-ref doc:name="retrieve-form-data" doc:id="337fe608-e08e-4e60-b315-893809552794" name="retrieve-form-data"/>
		<s3:list-objects doc:name="List Objects" doc:id="8214de89-9f99-4636-a025-1ea13a26b0c1" config-ref="Amazon_S3_Configuration" bucketName='#[vars."s3-bucket-name"]' prefix='#[vars."object-prefix"]'/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload filter ((item, index) 
	-> item.lastModified >= vars."from-date" and item.lastModified <= vars."to-date"
) map (
	(item, index) -> {
	objectKey: item.key,
	objectSize: item.size,
	updateDate: item.lastModified,
	etag: item.ETag
})]]></ee:set-payload>
            </ee:message>
        </ee:transform>	</flow>
	<flow name="get-object" doc:id="07a25e64-2dee-4846-a047-393faa8d4556">
		<flow-ref doc:name="retrieve-form-data" doc:id="175e2f9c-f09a-411c-854b-bc06172db3f6" name="retrieve-form-data"/>
		<s3:get-object doc:name="Get Object" doc:id="edd0b1cb-8533-432b-91b1-989330ee641e" config-ref="Amazon_S3_Configuration" bucketName='#[vars."s3-bucket-name"]' key='#[vars."object-key"]'/>
		<set-variable value='#[%dw 2.0&#10;import * from dw::core::Binaries&#10;output application/java&#10;---&#10;(vars.outboundHeaders default {&#10;}) ++ {&#10;	"Content-Disposition": "attachment; filename=" ++ vars."object-key",&#10;	"Content-Type": "application/octet-stream"&#10;}]' doc:name="outboundHeaders" doc:id="e82a133a-8ba6-47e8-adbd-45752d671be2" variableName="outboundHeaders" />
	
</flow>
</mule>
